<div class="container">
  <h1 class="deepshd mb-4">About this App</h1>
  <h4 class="text-info">
    This is a simple blog application created using Angular and using APIs hosted by edwisor.com
  </h4>
  <h5 class="text-success mt-3 mt-2">
    <u>It covers the following concepts for learning Angular:</u>
  </h5>
  <p class="font">
    1) Basic setup of angular application
    <br/> 2) Basics of components and routing
    <br/> 3) Concepts of creating templates and interpolation
    <br/> 4) Concept of Services
    <br/> 5) Interaction with REST APIs
    <br/> 6) Concept of forms and two-way data binding in Angular
  </p>
</div>