<div class="container">
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-12">
      <h2 class="elegantshd">{{currentBlog.author}}</h2>
      <!-- <small>blog number - {{currentBlog.blogId}}</small> -->
      <p class="text-info">
        <b>Title:</b> {{currentBlog.title}} |
        <b>Posted by: </b>
        <i>{{currentBlog.author|uppercase}}</i>
        <b> On </b>
        <i>{{currentBlog.created | date}}</i>
      </p>
      <p *ngIf="currentBlog.tags.length>0">tags :
        <span *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span>
      </p>
      <hr>
      <h5 [innerHtml]="currentBlog.bodyHtml"></h5>
      <hr>
      <h5 class="text-info">Category: {{currentBlog.category}}</h5>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-4">
      <a class="btn btn-primary" [routerLink]="['/edit',currentBlog.blogId]">Edit </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-danger" (click)="deleteThisBlog()">Delete </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-warning" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>
</div>